h2 {color: blue;}
ul {color: magenta;}
body {background-image: url("https://static.pexels.com/photos/414645/pexels-photo-414645.jpeg");}
body, html {
    height: 100%;
}
body {image-rendering: crisp-edges;}
body {background-repeat:no-repeat;}
body {background-position:center;}
body {background-attachment: fixed;}
body {background-size:cover;}
