font-family: 'Cormorant Garamond', serif;


h2 {color: tan;}
ul {color: tan;}

body {background-image: url("https://static.pexels.com/photos/414645/pexels-photo-414645.jpeg");}
body, html {
    height: 100%;
}
body {image-rendering: crisp-edges;}
body {background-repeat:no-repeat;}
body {background-position:center;}
body {background-attachment: fixed;}
body {background-size:cover;}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}
